<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for @profile.address do |address_fields| %>
  <div class="field">
    <%= address_fields.label :street%><br>
    <%= address_fields.text_field :street%>
  </div>
  <div class="field">
    <%= address_fields.label :number%><br>
    <%= address_fields.text_field :number%>
  </div>
  <div class="field">
    <%= address_fields.label :colony%><br>
    <%= address_fields.text_field :colony%>
  </div>


<% end %>


  <div class="field">
    <%= f.label :first_name%><br>
    <%= f.text_field :first_name%>
  </div>
  <div class="field">
    <%= f.label :medium_name %><br>
    <%= f.text_field :medium_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :rol_id %><br>
   
    <%=f.select "rol_id", options_from_collection_for_select(Rol.all, "id", "name")%>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
